/* footer */

.footer {
  width: 100%;
  background-color: #E1EDE6;
  font-family: "Raleway", sans-serif;
  color: #598D66;
  font-weight: 700;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
}

.footer__container-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--fonts-color);
}

.footer__container-number {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #2C2D35;
  font-weight: 500;
}

.footer__number-text {
  font-size: 18px;
  color: var(--main-fonts-color);
}

.footer__container-menu {
  display: flex;
  gap: 60px;
  margin-right: 250px;
  color: #2C2D35;
  font-weight: 500;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu__title {
  font-size: 20px;
  font-weight: 400;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--main-fonts-color);
}

.footer__container-web {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  font-weight: 500;
}

.footer__container-web-puctire {
  display: flex;
  gap: 30px;
}

.footer__container-reserv {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--main-fonts-color);
}

.footer-center {
  display: flex;
}
/* footer */

@media (max-width: 768px) {

.footer__container {
  display: block;
}


  .footer__container-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 39px;
  }

  .footer-center {
    display: flex;
    padding: 30px 39px;
  }

  .footer__container-menu {
    margin-right: 75px;
  }
}

@media (max-width: 510px) {

    .footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

    .footer__container-menu {
    margin: 0 0 0 0;
  }
}