@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
}


.page {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.header__width {
  max-width: 100%;
  width: 100%;
  background-color: #E1EDE6;;
}

@media (max-width = 768px) {

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 165px;
}

.header__icon-text {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  color: var(--fonts-color);
}

.header__list-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-family: "Raleway", sans-serif;
  color: var(--main-fonts-color);
  font-weight: 500;
  font-size: 20px;
}

.header__list-link {
  cursor: pointer;
  color: #2C2D35;
}

/*  Псведоклассы  */

.header__list-link:hover {
  color: #598D66;
  transition: 0.5s ease-in-out;
}

.header__list-link:focus {
  color: #2C2D35;
  background-color: #D4E8D9;
  transition: 0.5s ease-in-out;
}

.header__list-link:active {
  color: #376B44;
  transition: 0.5s ease-in-out;;
}

.header__link-item-fill {
  stroke: #2C2D35;
}

.header__link-item-fill:hover {
  stroke: #598D66;
  transition: 0.2s ease-in-out;
}

.header__link-item-fill:focus {
  background-color: #D4E8D9;
}

.header__link-item-fill:active {
  stroke: #376B44;
  transition: 0.2s ease-in-out;
}

/*  Псведоклассы  */

.article__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.article__header-img {
  width: 540px;
  height: 621px;
}

.article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 540px;
}

.article__content-title {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 500;
}

.header__text {
  color: var(--fonts-color);
}

.article__content-text {
  font-family: "Raleway", sans-serif;
  color: #86928B;
  margin: 20px 0 60px 0;
  font-size: 18px;
  font-weight: 500;
}

.article__content-button {
  border: 1px solid var(--fonts-color);
  padding: 21px 60px;
  background-color: var(--background-color);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: var(--fonts-color);
  cursor: pointer;
}

.article__card {
  font-family: "Raleway", sans-serif;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  padding: 0 165px 70px;
}

.article__card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 165px;
  font-family: "Raleway", sans-serif;
}

.card__title {
  font-weight: 500;
  font-size: 40px;
  color: var(--main-fonts-color);
}

.card__title-button {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card__title-button-item {
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
  color: var(--main-fonts);
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--background-card);
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: var(--background-card);
}

.card__img {
  padding: 20px;
}

.card__description-picture {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
}

.card__author {
  font-weight: 500;
  font-size: 18px;
  color: #86928B;
  padding-bottom: 10px;
}

.card__name {
  font-weight: 500;
  font-size: 30px;
  color: var(--main-fonts-color);
  padding-bottom: 8px;
}

.card__description {
  font-weight: 500;
  font-size: 18px;
  color: #2C2D35;
}

.card__cash {
  color: #598D66;
  font-weight: 500;
  font-size: 24px;
  padding: 30px 0 20px 0;
  line-height: 100%;
}

.card__shop-button {
  background-color: var(--background-card);
  color: #376B44;
  padding: 20px 107px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #598D66;
  margin-bottom: 30px;
  margin-right: 20px;
}

/* content */

.content {
  background-image: url(../image/attach.jpg);
  background-size: cover;
  background-position: center;
  height: 574px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 70px 0 0 165px;
}

.content__title {
  display: flex;
  width: 521px;
  gap: 20px;
}

.content__title-img {
  width: 80px;
  height: 80px;
  z-index: 5;
}

.content__title-text {
  font-family: "Raleway", sans-serif;
  color: #F4F6F5;
  font-size: 40px;
  font-weight: 500;
  z-index: 4;
}

.content__subtitle {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  width: 540px;
  padding: 20px 0 60px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px ;
}

.content__button {
  padding: 21px 60px;
  background-color: #EEDB6D;
  color: var(--main-fonts-color);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/* content */

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 165px;
  gap: 30px;
}

.team__img {
  width: 361px;
  height: 445px;
}

.team__description {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Raleway", sans-serif;
}

.team__description-title {
  font-size: 40px;
  color: var(--main-fonts-color);
  font-weight: 500;
}

.team__description-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  
}

.team__description-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.team__photo {
  display: flex;
  gap: 30px;
}

/* footer */

.footer {
  width: 100%;
  background-color: #E1EDE6;
  font-family: "Raleway", sans-serif;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 165px;
}

.footer__container-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--fonts-color);
}

.footer__container-number {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

.footer__number-text {
  font-size: 18px;
  color: var(--main-fonts-color);
}

.footer__container-menu {
  display: flex;
  gap: 60px;
  margin-right: 250px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu__title {
  font-size: 20px;
  font-weight: 400;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--main-fonts-color);
}

.footer__container-web {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__container-web-puctire {
  display: flex;
  gap: 30px;
}

.footer__container-reserv {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--main-fonts-color);
}
/* footer */